<Files "*.json">
    Header set Access-Control-Allow-Origin "https://jameslai409.github.io"
    Header set Accept "application/json"
    Header set Authorization "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjVlYWU5ODAyLWQ5MDItNGU3OS1hN2M1LTI1YjRiMTdhOTlkYSIsImlhdCI6MTYwNDk1NTkxOSwic3ViIjoiZGV2ZWxvcGVyLzRmZjIxYzllLTUzYmQtZWUxNC03MjcyLWJjNjNlYWJhOGIzZCIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIxOTIuMzAuMjUyLjE1MyIsIjE5Mi4zMC4yNTIuMTU0Il0sInR5cGUiOiJjbGllbnQifV19.1xVQf4l3YXHSlokMyDsX3Jb-HUmXQQZX7reiEtMNRrreEHiL-bj9aCevRr02j8z9XjJ1JPxODfkb74KboMkU7A"
</Files>