<Files "*.json">
    Header set Access-Control-Allow-Origin "https://jameslai409.github.io"
    Header set Accept "application/json"
    Header set Authorization "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjBkYzczN2EyLTU3MjktNDYzNi05ZjFhLThkMDM1ZDZjOGVlYSIsImlhdCI6MTYwNDgxNTM2Nywic3ViIjoiZGV2ZWxvcGVyLzRmZjIxYzllLTUzYmQtZWUxNC03MjcyLWJjNjNlYWJhOGIzZCIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyI3Mi43NC4xODYuMjUiXSwidHlwZSI6ImNsaWVudCJ9XX0.Td107mUVGsTm633gyEUENVJJVCUu4Qo3iFQO1M3xjnPkVRwWslJ4nH19Vs2GNUhRyfxGPuCGSRHFvDlchnzYJA"
</Files>